<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Domnifile</title>
  </head>
  <body>
    <h1>Domnifile Home Page</h1>
    <p>Grade A Software for managing HOAs</p>
    <p>Handle accounts payable</p>
    <p>Give users a transparent window into the management of the HOA, compliant with blah, blah.</p>
    <p>Just drop a file in and Domnifile will stick it where it belongs, and kick off workflows based
       on rules that you configure.</p>
    <p>Rides on top of your Google Workspace account.</p>
    <a href="{{ url_for('google.login') }}">
      <h1>Login to Test Drive</h1>
    </a>
    <p>It's free to try!</p>
    <h1>Domnifile Chrome Extension</h1>
    <p>Displays information about files managed by the app.</p>
    <a href="#">Click to install</a>
  </body>
</html>
